/* This uses the neat framework to show off the grid system */
body {
	//@include outer-container;
}

/*header{
	@include span-columns(8);
	@include shift(2);
	margin-bottom: 50px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	 
	h1{
		color: $alizarin;
	}
	
	h4 {
		color: $pomegranate;
	}
	
}
section.content {
	//@include outer-container;
}

p {
	@include span-columns(10);
	@include shift(1);
}*/